.chart-container {
    width: 100%;
    // min-height: 40%;
    // height: 40%;
    // max-height: 40%;
    height: 30rem;
}

.computation-row-1 {
    margin: 0rem 0rem 5rem 0rem;

    .computation-content-left {
       // padding: 0rem 5rem 0rem 0rem;
    }
}

.computation-row-2 {

}