.link-layout-1 {


}

.link-title-1 {
    font-weight: 500;
    color: #1794a7;
    margin-bottom: 1rem;
    border-bottom: 1px solid #1794a7;
    cursor: pointer;
    transition: font-size 0.5s, color 0.5s;
}

.link-title-1:hover {
    font-size: 1.1rem;
    color: #137482;
}


/* Tablets (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablets */
    .link-title-1 {
        font-size: .7rem;
    }
    
  }
  
  /* Small Screens (768px and below) */
  @media only screen and (max-width: 768px) {
    /* Styles for small screens */
    .link-title-1 {
        font-size: .7rem;
    }
    
  }
  
  /* Small to Medium Screens (768px to 1023px) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for small to medium screens */
    .link-title-1 {
        font-size: 1rem;
    }
    
  }
  
  /* Medium Screens (992px to 1199px) */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for medium screens */
    .link-title-1 {
        font-size: 1rem;
    }
    
  }
  
  /* Large Screens (1200px and above) */
  @media only screen and (min-width: 1200px) {
    /* Styles for large screens */
    .link-title-1 {
        font-size: 1rem;
    }
    
  }